<p-carousel
  [value]="carouselItems"
  [numVisible]="1"
  [circular]="true"
  [autoplayInterval]="5000"
  [showIndicators]="true"
  [showNavigators]="false"
  class="auth-carousel rounded-lg"
>
  <ng-template pTemplate="item" let-item>
    <div
      class="relative bg-center bg-no-repeat bg-cover w-full rounded-lg overflow-hidden"
      [ngClass]="item.image"
      style="height: calc(100vh - 32px)"
    >
      <div class="absolute top-0 left-0 w-full h-full bg-black/35 rounded-lg"></div>
      <div class="p-4 w-full h-full relative z-10 flex items-end">
        <div class="max-w-[500px] w-full pb-4 pl-4">
          <h1 class="text-slate-50 font-bold text-3xl md:text-4xl mb-3">
            {{ item.title }}
          </h1>
          <p class="text-slate-200 text-base tracking-wide leading-7">
            {{ item.description }}
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
